* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(135deg, #2a75d3, #4b85d6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 5px;
}
#bem-vindo {
  color: #ffffff;
  font-size: 22px;
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.pokemon {
  background-color: #97b3e6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.pokemonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.pokemonInfo {
  margin-top: 10px;
}
.pokemonId {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}

#procurar {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 300px;
  height: 40px;
}
label button {
  background-color: #ffcb05;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
}
label button:hover {
  background-color: #cca300;
  transition: 0.3s;
}

#equipes {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
#equipes:hover {
  background-color: #810000;
  transition: 0.3s;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
#modalContent {
  background: white;
  border-radius: 20px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}
#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}
